.skills {
    background-color: #FBF8BE;
    color: #234f70ef;
    height: 500px;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 30px;
        margin-top: 24px;
        font-variant: small-caps;
    }
    }


