.contact{
    background-color:#FBF8BE;
    display: flex;



    .contact-icons {
        padding-inline-start: 0;
        margin-top: 50px;
        

        .social-icons {
            display: inline-block;
            padding-right: 15px;
            padding-left: 15px;
          }

        .contact-social-icons {
            position: relative;
            display: inline-block;
            width: 45px;
            height: 45px;
            text-align: center;
            font-size: 1.4em;
            line-height: 2.3em;
            background: rgba(255, 255, 255, 0.972);
            border-radius: 50%;
            transition: 0.5s;
          }

        .contact-social-icons::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background: #234f70ec;
            transition: 0.5s;
            transform: scale(0.9);
            z-index: -1;
          }

        .contact-social-icons:hover::before {
            transform: scale(1.1);
            box-shadow: 0 0 15px #178febec;
          }

        .contact-social-icons:hover {
            color: #234f70ec;
            box-shadow: 0 0 5px #178febec;
            text-shadow: 0 0 2px #178febec;
          }
        
        .icon-colour {
            color: #234f70ec;
          }
       
    }
    
    .left {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

       
        h1 {
            font-size: 50px;
            color: #234f70f7;
        }

        p {
            color: #234f70c0;
        }

    }


    .right {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
            color: #234E70;
            font-style: 30px;

        }

        p {
            color: #234f70c0;
            font-variant: small-caps;
        }

        form {
            width: 70%;
            height: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;


            input {
                width: 300px;
                height: 30px;
                font-size: 15px;
                border: none;
            }

            textarea {
                width: 300px;
                height: 200px;
                font-size: 15px;
                border: none;
            }

            button {
                width: 150px;
                height: 30px;
                color: #fffffff7;
                background-color: #234E70;
                border: none;
                border-radius: 2px;
                font-weight: 500;
                cursor: pointer;
            }

        }
        span {
            color: #234E70;
        
        }
    }



    
    }
