.intro {
    background-color:#234E70;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #FBF8BE;
    font-family: 'Montserrat', sans-serif;

    .ityped-cursor {
        animation: blink 1s infinite;
    }

    @keyframes blink {
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
}



 

