.intro {
    background-color:#234E70;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    color: #FBF8BE;
    font-family: 'Montserrat', sans-serif;
}



 

