.app {
    height: 100vh;
   


    .sections {
        scroll-behavior: smooth;
        width: 100%;
        height: calc(100vh - 70px);
        position: relative;
        top: 70px;
        scroll-snap-type: y mandatory;
        &::-webkit-scrollbar {
            display: none;
        }


        > *{
            width: 100vw;
            height: calc(100vh - 70px);
            scroll-snap-align: start;
            
        }

    }


    

    }


