.app {
    height: 100vh;
    background-color: #e89983;

    .sections {
        width: 100%;
        height: calc(100vh - 70px);
        background-color: rosybrown;
        position: relative;
        top: 70px;
        scroll-snap-type: y mandatory;
        &::-webkit-scrollbar {
            display: none;
        }


        > *{
            width: 100vw;
            height: calc(100vh - 70px);
            scroll-snap-align: start;
            
        }

    }


    

    }


