@import "../../global.scss";


.AboutMe {
    background-color:#FBF8BE;
    display: flex;

    .left {
        flex: 0.4;

        .imgContainer {
            width: 700px;
            height: 750px;
            border-radius: 50%;
            float: right;

           

            img {
                height: 100%;

            }
        }

    }
    .right {
        flex: 0.6;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #484738;

        .aboutme {
            font-weight: 100;
            line-height: 1.6;
            text-align: center;
            margin:0;
        }

        .quote {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
        }

    }
}