.AboutMe {
    background-color:#FBF8BE;
    display: flex;


    .blue {
        color: #234f70ec;
        font-weight: bold;
      }

    .left {
        flex: 0.4;

        .imgContainer {
            height: 500px;
            padding: 3vw;
        
           
            .profile {
                height: 100%;
                border-radius: 50%;
                box-shadow: 0 0 20px -10px;
            }
        }

    }
    .right {
        flex: 0.6;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #484738;

        .aboutme {
            font-weight: 100;
            line-height: 1.6;
            text-align: center;
            margin:0;
        }

        .quote {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
        }

    }

    .inner-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 3.5em;
    
    }

    .btn-primary {
        color: #FFF;
        background-color:#234f70ec;
        border-color:#234f70ec;
        border-radius: 0.25rem;
        cursor: pointer;
        padding: 0.375rem 0.75rem;
        text-decoration: none;

        .btn:hover {
            color: #306d9bec;
            transition: all;
        }
    }
   
}